/* Basic styling */

:root {
  /* Colors */
  --black: #fff;
  --grey: #a4b2bc;
  --white: #09090c;
  --background: rgb(240, 245, 255);
  --primary: #803bec;
  --primary-dark: #492388;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  font-family: "Poppins", sans-serif;
}

/* Stats */
.stats-small {
  min-height: 8.7rem;
  overflow: hidden !important;
}
.stats-small canvas {
  position: absolute;
  bottom: 0;
}
.stats-small__data {
  -ms-flex: 1;
  flex: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-flow: column;
  flex-flow: column;
  max-width: 50%;
  z-index: 1;
}
.stats-small__label {
  font-size: 0.625rem;
  letter-spacing: 0.0625rem;
  color: #818ea3;
}
.stats-small__value {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Helvetica Neue", Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
}
.stats-small__percentage {
  position: relative;
  display: table;
  margin-left: auto;
  padding-left: 0.9375rem;
}
.stats-small__percentage--decrease,
.stats-small__percentage--increase {
  font-size: 0.75rem;
}
.stats-small__percentage--decrease::before,
.stats-small__percentage--increase::before {
  content: "";
  width: 0.75rem;
  height: 0.375rem;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-position: center center;
  background-repeat: no-repeat;
}
.stats-small__percentage--increase {
  color: #17c671;
}
.stats-small__percentage--increase::before {
  background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMTdjNjcxIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gPHBhdGggZD0iTTcgMTRsNS01IDUgNXoiLz4gPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPiA8L3N2Zz4=);
}
.stats-small__percentage--decrease {
  color: #c4183c;
}
.stats-small__percentage--decrease::before {
  background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjYzQxODNjIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTcgMTBsNSA1IDUtNXoiLz4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPjwvc3ZnPg==);
}
.stats-small--1 .stats-small__data {
  max-width: 100%;
}
.stats-small--1 .stats-small__percentage {
  margin: 0 auto;
}
.stats-small--1 .stats-small__value {
  font-size: 2.0625rem;
}
.stats-small--1 .stats-small__label {
  font-size: 0.75rem;
}
.stats-small--1 .stats-small__percentage {
  font-size: 0.75rem;
}
.stats-small--1 canvas {
  opacity: 0.5;
}
.card-group .stats-small {
  position: relative;
  overflow: hidden;
}

/* Card */
.card-user-overview {
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0 0px 10px 5px rgba(0, 0, 0, 0.05);
}
.card-user-overview h4 {
  font-weight: 600;
}

.stat-cards {
  display: flex;
  margin: auto;
  width: 180px;
  height: 180px;

  border-radius: 50%;
  box-shadow: 0 0px 10px 5px rgba(0, 0, 0, 0.05);
  transition: all 0.25s ease-in-out;
}
.stat-cards:hover {
  transform: translateY(-2px);
}

.headerbox {
  display: inline-block;
}
